@model RandomActs.Models.RandomActActor

@{
    ViewBag.Title = "Register for Random Act";
}

<h2>Register for Random Act</h2>

@using (Html.BeginForm("Register","ActActor"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Random Act-Actor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold;">
                Random Act
                @Html.HiddenFor(model => model.RandomActId)
            </div>
            <div class="col-md-10">
                <span style="color:blueviolet;">@ViewBag.RandomActTitle</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RandomActorId, "Actor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RandomActorId", string.Empty)
                @Html.ValidationMessageFor(model => model.RandomActorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WhatICanBring, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.WhatICanBring, new { style = "width: 400px" })
                @Html.ValidationMessageFor(model => model.WhatICanBring)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { style = "width: 400px" })
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight:bold;">
                Registration Type
                @Html.HiddenFor(moel => Model.WaitList)
            </div>
            <div class="col-md-10">
                <span style="color:blueviolet;">@((bool)Model.WaitList ? "On waiting list" : "Registrant")</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AttendeeList", new {id = Model.RandomActId })
</div>
