@model IEnumerable<RandomActs.Models.RandomActor>

@{
    ViewBag.Title = "Volunteers";
}

<h2>Volunteers</h2>

<p>
    @Html.ActionLink("New Volunteer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </th>
        <th>
            Total Acts
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterHandle)
        </td>
        <td>
            @(item.Acts.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RandomActorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RandomActorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RandomActorId })
        </td>
    </tr>
}

</table>
